body {
  font: 16px 'Arial', sans-serif;
  margin: 5px 20px;
}

header h1 {
  display: inline-block;
  font-size: 28px;
}

header ul {
  display: inline-block;
}

header li {
  display: inline-block;
}

.success {
  color: #008000;
}

.error {
  color: #FF0000;
}

dl {
  margin: 10px 0;
}
